extends _base_min

mixin serverTile(name,guildId,icon,link,description,games)
    .server-tile 
        .icon-container 
            - var iconImg = icon ? `https://cdn.discordapp.com/icons/${guildId}/${icon}.png` : '/img/avatar_default.svg'
            img(src=`${iconImg}`)
            a.btn.btn-primary(href=`${link}` target="_blank")
        .server-info 
            h3= name 
            .server-description= description
            .game-list= `Games: ${games.join(', ')}`


block styles 
    link(rel="stylesheet" href="/css/servers.css")

block content 
    #contents
        h1.my-5 Public Servers 
        p.mb-5 This is a list of servers where WordleBot has been invited, and the server administrators have set to public on the settings page. To have your server listed here, open your settings page (refer to the #[a(href="/docs/settings") documentation] for more information), set your server to public, and add a description and invite link. 
        each server in servers
            +serverTile(server.name,server.guildId,server.icon,server.inviteLink,server.description, server.games)
            